<div class="h-14 bg-white shadow flex justify-center" data-testid="navbar">
  <div class="w-[90%] flex">
    <div class="flex basis-6"></div>
    <div class="grow flex justify-center items-center text-3xl">📖 Bookist</div>
    <div class="flex basis-6">
      <%= link_to menu_path(return_to: request.path, title: title),
                  class: "w-full",
                  data: navbar_menu_data_attributes(show_animation: referred_to_by_menu?) do %>
        <div class="w-full h-full flex flex-col items-center justify-center">
          <% if referred_to_by_menu? %>
            <div data-menu-button-target="top" class="transition-all block w-full h-0.5 bg-black relative rotate-45 top-[4px]"></div>
            <div data-menu-button-target="middle" class="w-full h-0.5 bg-black mt-1.5 hidden"></div>
            <div data-menu-button-target="bottom" class="transition-all block w-full h-0.5 bg-black mt-1.5 relative -rotate-45 top-[-4px]"></div>
          <% else %>
            <div class="block w-full h-0.5 bg-black"></div>
            <div class="block w-full h-0.5 bg-black mt-1.5"></div>
            <div class="block w-full h-0.5 bg-black mt-1.5"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>